/* Code tidied up by ScrapBook */
.container { padding-left: 10px; padding-right: 10px; }
.bxr-logo img { background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.row { margin-left: -10px; margin-right: -10px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { padding-left: 10px; padding-right: 10px; }
.bxr-corns { border-radius: 0px; }
.bxr-color, .bx-searchtitle .bx-input-group-btn button, .bx-searchtitle-menu .bx-input-group-btn button { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.bxr-dark-flat { background-color: rgb(66, 79, 96); color: rgb(255, 255, 255); }
.bxr-color-flat { background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); }
.bxr-font-color, a { color: rgb(0, 0, 0); }
.bxr-bg-hover:hover { background-color: rgb(0, 0, 0); }
.bxr-bg-hover:hover i.fa { color: rgb(255, 255, 255); }
.bxr-bg-hover-flat:hover { background-color: rgb(0, 0, 0); }
.bxr-bg-hover-light:hover, .bx-searchtitle .bx-input-group-btn button:hover, .bx-searchtitle-menu .bx-input-group-btn button:hover { background-color: rgb(51, 51, 51); }
.bxr-bg-hover-dark-flat:hover { background-color: rgb(0, 0, 0); }
.bxr-font-hover-light:hover, a:hover, a:active { color: rgb(51, 51, 51); }
.bxr-helper { padding: 15px; }
.btn, .bxr-color-button, .bx_auth_popup_form, .containter input[type="submit"], .authorize-submit-cell input[type="submit"], .bx-registration-table input[type="submit"], .bxr-border-color-button { border-radius: 0px; padding: 8px 15px; font-size: 14px; border-collapse: collapse; border: medium none; }
.btn { border: 1px solid rgb(153, 153, 153); }
.bxr-color-button, .bx_auth_popup_form, .containter input[type="submit"], .authorize-submit-cell input[type="submit"], .bx-registration-table input[type="submit"] { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); box-shadow: none; }
.bxr-color-button:hover, .bx_auth_popup_form, .containter input[type="submit"]:hover, .authorize-submit-cell input[type="submit"]:hover, .bx-registration-table input[type="submit"]:hover, .bxr-border-color-button:hover { background: rgb(0, 0, 0) none repeat scroll 0% 0%; color: rgb(255, 255, 255); box-shadow: 1px 1px 2px 0px rgba(169, 134, 134, 0.5); }
.bxr-children-color-hover:hover > a { color: rgb(0, 0, 0) ! important; }
#bxr-delay-body::before, #bxr-basket-body::before, #bxr-compare-body::before, #bxr-favor-body::before { border-bottom-color: rgb(0, 0, 0); }
#bxr-basket-row.bxr-basket-row-dinamic a.bxr-basket-indicator:hover { color: rgb(255, 255, 255); background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
#bxr-basket-row > div.active .bxr-basket-indicator i, #bxr-basket-row.bxr-basket-row-dinamic a.bxr-basket-indicator:hover i { text-shadow: none; }
.bxr-counter-mobile { border-radius: 0px; }
#bxr-basket-mobile-container .basket-body-title, #bxr-favor-mobile-container .basket-body-title { background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.footer-line { background: rgb(0, 0, 0) none repeat scroll 0% 0%; }
.basket-body-container .basket-body-title-h.active { color: rgb(0, 0, 0); }
