/* Code tidied up by ScrapBook */
@keyframes popup-window-button-animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes popup-window-button-animation {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes popupWindowShowAnimationOpacity {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes popupWindowShowAnimationOpacity {
0% { opacity: 0; }
100% { opacity: 1; }
}
@keyframes popupWindowShowAnimationOpacityTransform {
0% { opacity: 0; transform: translate3d(0px, 5px, 0px); }
100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes popupWindowShowAnimationOpacityTransform {
0% { opacity: 0; transform: translate3d(0px, 5px, 0px); }
100% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
}
@keyframes popupWindowCloseAnimationOpacity {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes popupWindowCloseAnimationOpacity {
0% { opacity: 1; }
100% { opacity: 0; }
}
@keyframes popupWindowCloseAnimationOpacityTransform {
0% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 25px, 0px); }
}
@keyframes popupWindowCloseAnimationOpacityTransform {
0% { opacity: 1; transform: translate3d(0px, 0px, 0px); }
100% { opacity: 0; transform: translate3d(0px, 25px, 0px); }
}
@keyframes popup-window-show-animation-scale {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}
@keyframes popup-window-show-animation-scale {
0% { opacity: 0; transform: scale(0); }
100% { opacity: 1; transform: scale(1); }
}
