/* Code tidied up by ScrapBook */
.bx-ss-icon { background-image: url("icons_v5.png"); width: 16px; height: 16px; background-repeat: no-repeat; }
.openid { background-position: 0px -192px; }
.openid-mail-ru { background-position: 0px -48px; }
.livejournal { background-position: 0px -16px; }
.liveinternet { background-position: 0px -128px; }
.blogger { background-position: 0px -144px; }
.facebook { background-position: 0px -32px; }
.twitter { background-position: 0px -96px; }
div.bx-auth { max-width: 600px; margin-top: 12px; margin-bottom: 10px; }
div.bx-auth form { padding: 0px; margin: 0px; }
div.bx-auth-line { border-bottom: 1px solid rgb(227, 227, 227); padding-bottom: 10px; }
div.bx-auth-title { font-size: 140%; border-bottom: 2px solid rgb(227, 227, 227); padding-bottom: 12px; }
div.bx-auth-note { margin: 18px 0px 6px; }
div.bx-auth-services { padding: 0px; margin: 0px; overflow: hidden; }
div.bx-auth-services div { display: block; float: left; margin: 4px 6px 0px 0px; width: 170px; }
div.bx-auth-services a { display: inline-block; margin: 1px; padding: 4px; text-decoration: none; color: rgb(100, 100, 100); outline: medium none; }
div.bx-auth-services a:hover { margin: 0px; border: 1px solid rgb(217, 217, 217); text-decoration: none ! important; }
div.bx-auth-services i { display: inline-block; margin: 0px 4px 0px 0px; vertical-align: middle; cursor: pointer; }
div.bx-auth-services b { vertical-align: middle; font-weight: bold; font-size: 12px; font-family: Tahoma,Verdana,Arial,sans-serif; }
div.bx-auth-service-form { color: black; background-color: rgb(238, 238, 238); border-bottom: 1px solid rgb(214, 214, 214); margin-top: 1px; padding: 8px; vertical-align: middle; font-size: 12px; }
div.bx-auth-service-form span, div.bx-auth-service-form input { vertical-align: middle; }
div.bx-auth-service-form input.button { position: relative; left: 1px; }
div.bx-auth-service-form span.bx-ss-icon { display: inline-block; margin-right: 6px; }
