/* Code tidied up by ScrapBook */
.bxr-include-with-link { line-height: 24px; margin-bottom: -2px; }
.bxr-phone-number { font-size: 24px; display: inline-block; text-align: right; }
.open-answer-form { float: right; margin-left: 16px; top: 0px; background-color: rgb(204, 204, 204); color: rgb(255, 255, 255); padding: 8px 10px; font-size: 17px; cursor: pointer; -moz-user-select: none; transition: all 0.3s ease 0s; }
.open-answer-form:hover { background-color: rgb(221, 221, 221); }
.bxr-recall-link { text-decoration: underline; font-size: 14px; line-height: 14px; background: transparent none repeat scroll 0% 0% ! important; padding: 5px 0px; }
.bxr-recall-link:hover { text-decoration: none; }
