/* Code tidied up by ScrapBook */
.bxr-li-top-menu-parent { position: static ! important; }
.bxr-list-hover-menu { width: 100%; background-color: rgb(255, 255, 255); z-index: 1014; position: relative; padding: 30px 10px 0px 20px; box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.173); }
.bxr-element-hover-menu { display: none; margin-bottom: 30px; }
.bxr-element-hover-menu.show { display: block; }
.bxr-element-hover-menu { margin-bottom: 30px; width: 100%; }
.bxr-element-hover-menu .bxr-element-content { display: table-cell; width: auto; }
.bxr-element-hover-menu .bxr-element-name { font-weight: bold; font-size: 16px; margin-bottom: 8px; display: inline-block; }
.bxr-element-hover-menu .bxr-element-name a { color: rgb(65, 65, 65); }
.bxr-element-hover-menu .bxr-element-name a:hover, .bxr-element-hover-menu .bxr-element-name a:visited { text-decoration: none; }
.bxr-element-hover-menu .bxr-element-items a { font-size: 13px; text-decoration: none; padding-right: 15px; white-space: nowrap; color: rgb(108, 108, 108); }
.bxr-element-hover-menu .bxr-ico-menu { float: left; width: 16px; margin-right: 15px; margin-top: 2px; opacity: 0.7; }
.bxr-clear { clear: both; }
.columns-left {  }
