/* Code tidied up by ScrapBook */
#bxr-basket-container { top: 180px; z-index: 1030; position: fixed; width: 700px; right: -700px; box-shadow: 0px 5px 15px 0px rgba(50, 50, 50, 0.2); }
#bxr-basket-row { width: 100%; font-size: 13px; position: relative; }
#bxr-basket-row a, #bxr-basket-row a:hover, #bxr-basket-row a:visited, #bxr-basket-row a:active { text-decoration: none; }
#bxr-basket-row a.bxr-basket-indicator { width: 64px; position: absolute; left: -64px; color: rgb(65, 65, 65); font-size: 14px; display: block; background: rgb(240, 240, 240) none repeat scroll 0% 0%; padding: 10px 5px; margin: 0px; font-weight: bold; border-bottom: 3px solid rgb(255, 255, 255); }
.bxr-basket-indicator i { font-size: 24px; font-weight: normal; text-shadow: 1px 1px 0px rgb(255, 255, 255); }
.bxr-basket-indicator i:hover { text-shadow: 0px 0px 0px rgb(255, 255, 255); }
.bxr-basket-label { top: 0px; }
.bxr-favor-label { top: 68px; }
.bxr-compare-label { top: 136px; }
.basket-body-container .bxr-helper { margin: 0px 15px; }
.bxr-close-basket { margin-top: 20px; }
#bxr-delay-body, #bxr-basket-body, #bxr-compare-body, #bxr-favor-body { color: rgb(34, 34, 34); padding: 15px 0px; width: 100%; right: 120px; top: -35px; display: none; z-index: 1040; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(247, 247, 247); float: right; min-height: 250px; }
#bxr-basket-row > div {  }
#bxr-basket-body-mobile, #bxr-delay-body-mobile, #bxr-favor-body-mobile { display: none; }
#bxr-mobile-content { position: relative; }
.bxr-counter-mobile { font-size: 24px; padding: 8px; position: relative; z-index: 300; background: rgb(229, 233, 234) none repeat scroll 0% 0%; display: inline-block; min-width: 52px; text-align: center; cursor: pointer; margin-left: 30px; float: right; }
.bxr-counter-mobile > span { position: absolute; display: none; right: -10px; top: -12px; font-family: Arial; font-size: 14px; min-width: 28px; min-height: 28px; border-radius: 28px; border: 2px solid rgb(255, 255, 255); text-align: center; padding: 2px 3px; z-index: 320; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#bxr-basket-mobile-container, #bxr-favor-mobile-container { display: none; position: absolute; z-index: 999; top: 58px; right: 0px; background: rgb(249, 249, 249) none repeat scroll 0% 0%; box-shadow: 0px 15px 30px 0px rgba(50, 50, 50, 0.2); }
.bxr-basket-compare-title, button.bxr-close-basket { display: none; }
@media (max-width: 479px) {
  .bxr-counter-mobile { font-size: 16px; padding: 8px; min-width: 40px; margin-left: 18px; }
  .bxr-counter-mobile > span { right: -14px; top: -16px; font-size: 14px; min-width: 30px; min-height: 30px; border-radius: 32px; padding: 3px; }
}
.basket-body-container .basket-body-title-h.bxr-basket-tab { font-size: 17px; margin-right: 10px; margin-bottom: 10px; cursor: pointer; }
.basket-body-title-h span.bxr-basket-cnt { font-size: 15px; font-weight: normal; line-height: 17px; }
.bxr-basket-tab-content { display: none; }
.bxr-basket-tab-content.active { display: block; }
#bxr-basket-mobile .basket-body-title-h.bxr-basket-tab { cursor: pointer; color: rgb(65, 65, 65); }
#bxr-basket-mobile .basket-body-title-h { font-size: 13px; font-weight: bold; display: inline-block; color: rgb(255, 255, 255); float: left; margin-right: 20px; padding: 4px; }
#bxr-basket-mobile .basket-body-title-h.active { color: rgb(255, 255, 255); }
#bxr-basket-mobile .basket-body-title-h span.bxr-basket-cnt { font-size: 11px; }
.min-order-price-notify { border: 1px solid rgba(255, 20, 0, 0.13); border-radius: 4px; padding: 20px; margin: 20px; background: rgb(242, 222, 222) none repeat scroll 0% 0%; color: rgb(169, 68, 66); }
@media (max-width: 767px) {
  .min-order-price-notify { margin: 0px 0px 10px; }
}
