/* Code tidied up by ScrapBook */
.bxr-menuline {  }
.bxr-top-menu .bxr-color > a, .bxr-top-menu .bxr-color-flat > a, .bxr-top-menu .bxr-dark-flat > a { color: rgb(255, 255, 255); }
.bxr-v-line_menu { background-color: rgb(255, 255, 255); }
.bxr-top-menu { display: block; position: relative; list-style: outside none none; padding: 0px; margin: 0px; float: left; height: 48px; width: 70%; overflow: hidden; visibility: hidden; }
.bxr-top-menu > li { color: rgb(65, 65, 65); }
ul.bxr-top-menu li { display: block; float: left; position: relative; text-align: left; font-size: 14px; height: 100%; }
ul.bxr-top-menu > li > a { display: block; color: rgb(65, 65, 65); text-align: center; padding: 14px 25px; width: 100%; text-decoration: none; white-space: nowrap; float: left; font-weight: bold; text-transform: uppercase; }
ul.bxr-top-menu.bxr-light-menu li a { font-weight: normal; }
ul.bxr-top-menu > li > a .fa-angle-down { font-size: 14px; padding-left: 5px; }
ul.bxr-top-menu > li.other, li.last { width: 50px; }
ul.bxr-top-menu > li.last { float: right; }
.li-visible > a { padding-left: 0px ! important; padding-right: 0px ! important; }
#bxr-flex-menu-li { display: none; }
@keyframes submenu_view {
0% { opacity: 0.2; }
100% { opacity: 1; }
}
@keyframes submenu_view {
0% { opacity: 0.2; }
100% { opacity: 1; }
}
ul.bxr-top-menu > li > div { position: absolute; top: 100%; left: 0px; display: none; }
ul.bxr-top-menu > li:hover > div { display: block; animation: 400ms ease 0s normal none 1 running submenu_view; }
#bxr-menu-search-line { display: none; padding: 20px 15px; }
.bxr-menu-search-line-container { position: absolute; width: 100%; z-index: 55; }
.bxr-menu-search-line-container-color, #bxr-menu-search-line { background: rgb(224, 231, 236) none repeat scroll 0% 0%; }
.bxr-mobile-menu-button-container > div { height: 42px; }
.bxr-mobile-menu-button { width: 20px; height: 42px; line-height: 42px; cursor: pointer; margin-right: 10px; }
.bxr-mobile-menu-text { float: left; font-size: 20px; font-weight: bold; margin-top: 7px; margin-left: 9px; }
#bxr-mobile-menu-container { width: 100%; }
#bxr-mobile-menu-content { display: none; }
#bxr-mobile-menu-content > div { display: inline-block; width: 100%; }
#bxr-mobile-menu-content > div a { display: block; padding: 16px 0px 16px 20px; text-align: left; color: rgb(255, 255, 255); margin-right: 0px; text-decoration: none; white-space: nowrap; }
#bxr-mobile-menu-content { background-color: rgb(255, 255, 255); }
#bxr-mobile-menu-content > div { border: 1px solid rgb(240, 242, 244); }
#bxr-mobile-menu-content > div.submenu_item { display: none; }
#bxr-mobile-menu-content > div.submenu_item a { color: rgb(65, 65, 65); }
#bxr-mobile-menu-content > div[data-main="1"] > a { color: rgb(65, 65, 65); }
#bxr-mobile-menu-content .submenu_item { background: rgb(246, 246, 247) none repeat scroll 0% 0%; }
#bxr-mobile-menu-content > div > a.sub-item { padding-right: 20px; }
#bxr-mobile-menu-content > div:hover > a, #bxr-mobile-menu-content > div.submenu_item > div:hover > a { text-decoration: underline; }
#bxr-mobile-menu-content > div[data-main="1"] { display: block; }
.bxr-mobile-menu-button > .fa-bars { color: rgb(255, 255, 255); font-size: 25px; margin-top: 10px; }
.bxr-mobile-menu-button > .fa-search { font-size: 19px; margin-top: 12px; }
#bxr-mobile-menu-content .fa-angle-down { font-size: 17px; padding-left: 5px; position: absolute; right: 22px; color: rgb(74, 74, 74); }
.bxs-search-mobil-menu { display: none; }
