/* Code tidied up by ScrapBook */
.bx_login_block { float: left; padding-left: 16px; background: transparent url("gui.png") no-repeat scroll left center; }
a.bx_login_top_inline_link { color: rgb(87, 110, 117); vertical-align: middle; text-decoration: none; font-size: 13px; margin: 0px 8px 0px 5px; }
a.bx_login_top_inline_link:hover { text-decoration: underline; }
.bx_login_popup_form { margin: 20px 0px; }
.bx_auth_popup_form, .containter input { border-radius: 0px; padding: 8px 15px; font-size: 14px; border-collapse: collapse; border: medium none; }
