/* Code tidied up by ScrapBook */
footer { background: rgb(60, 60, 59) none repeat scroll 0% 0% ! important; color: rgb(255, 255, 255) ! important; }
.row.footerline a { color: rgb(183, 180, 180) ! important; }
.footer-head div { color: rgb(255, 255, 255) ! important; }
.bxr-font-hover-light:hover, a:hover, a:active { color: rgb(174, 174, 174) ! important; }
.montaj { font-size: 21px; color: rgb(84, 193, 105); font-weight: bold; }
.myBtn { width: 182px; height: 47px; background-color: rgb(190, 166, 124); border: medium none; font-size: 15px; color: rgb(255, 255, 255); font-family: Montserrat; }
.btnsBlock { padding: 25px 0px; background-color: rgb(0, 0, 0); display: flex; justify-content: center; align-items: center; flex-direction: column; margin-top: 25px; }
#myModal { background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
.modal-dialog { margin: 15% auto; max-width: 1171px; width: 100%; }
p.modalText { font-family: Montserrat; font-size: 24px; color: white; font-weight: bold; }
#myModal .modal-content { background: transparent url("buderosModalBG.jpg") no-repeat scroll center center; max-width: 1171px; height: 415px; }
#myModal .modal-header { border: medium none; }
#myModal .modal-body { padding: 20px 100px; }
#myModal form { display: flex; flex-direction: column; }
#myModal input[type="text"] { max-width: 400px; height: 42px; border: 1px solid rgb(232, 232, 232); background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(106, 124, 155); }
#myModal input[type="submit"] { width: 201px; height: 47px; background-color: rgb(190, 166, 124); color: rgb(255, 255, 255); font-family: Montserrat; font-size: 15px; border: medium none; margin-top: 25px; }
#myModal .close { opacity: 1; }
div.bx-breadcrumb { margin: 15px 0px ! important; font-size: 13px; }
.montajTop { background: transparent url("montajTopBg.jpg") no-repeat scroll center center; height: 390px; }
.montajTop .mainText { font-family: Montserrat; font-size: 30px; font-weight: bold; color: rgb(255, 255, 255); }
.montajTop .subtext { font-family: Montserrat; font-size: 20px; font-style: italic; color: rgb(255, 255, 255); }
.montaj h1 { font-family: Montserrat; font-size: 24px; font-weight: bold; color: white; }
.montaj p { font-family: Montserrat; font-size: 15px; color: white; font-weight: normal; }
.montajServices { display: flex; justify-content: space-between; flex-wrap: wrap; }
.montajServices .itemService { display: flex; align-items: center; flex-direction: column; }
.itemService > div { display: flex; justify-content: center; align-items: center; height: 80px; }
.itemService:hover { cursor: pointer; }
.montajContent { background: transparent url("contentBlockBg.jpg") no-repeat scroll center center; min-height: 611px; }
.works img { width: 100%; }
@media all and (max-width: 600px) {
  .modal-body { padding: 0px ! important; }
  [data-text="zvonok"] { margin: 15px 0px ! important; }
  .montaj p { color: black; }
  .montaj h1 { color: black; }
  .montajContent { background: transparent none repeat scroll 0% 0%; }
}
