/* Code tidied up by ScrapBook */
.bx-searchtitle-menu { margin: 0px; }
.bx-searchtitle-menu .bxr-btn-default { margin-top: 0px ! important; }
.bx-searchtitle-menu form { margin-bottom: 0px; }
.bx-searchtitle-menu .bx-input-group { position: relative; display: table; border-collapse: separate; box-sizing: border-box; border: 1px solid rgb(213, 218, 220); padding-right: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.bx-searchtitle-menu .bx-input-group {  }
.bx-searchtitle-menu .bx-input-group .bx-form-control { position: relative; z-index: 2; float: left; margin-bottom: 0px; display: block; width: 100%; height: 31px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); border: medium none; border-radius: 2px 0px 0px 2px; outline: medium none; box-shadow: none ! important; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.bx-searchtitle-menu .bx-input-group-btn { position: relative; font-size: 0px; width: 1%; white-space: nowrap; vertical-align: middle; display: table-cell; }
.bx-searchtitle-menu .bx-input-group-btn button { position: relative; border: medium none; background-color: rgb(204, 204, 204); display: inline-block; margin-bottom: 0px; cursor: pointer; border-radius: 0px; color: rgb(255, 255, 255); -moz-user-select: none; transition: all 0.3s ease 0s; padding: 6px 7px 7px; font-size: 12px; line-height: 14px; margin-top: -2px; }
.bx-searchtitle-menu .bx-input-group-btn button:hover { background-color: rgb(221, 221, 221); }
div.title-search-result { border: 1px solid rgb(198, 198, 198); display: none; overflow: hidden; z-index: 999; min-width: 370px; margin-top: -3px; background-color: rgb(255, 255, 255); }
.bxr-new-search { position: relative; }
.bxr-new-search span { position: absolute; top: 0px; right: 0px; }
