/* Code tidied up by ScrapBook */
.bx-breadcrumb { margin: 10px 0px; }
.bx-breadcrumb i { color: rgb(181, 189, 194); line-height: 13px; font-size: 12px; vertical-align: middle; margin-right: 5px; }
.bx-breadcrumb .bx-breadcrumb-item { float: left; margin-bottom: 10px; white-space: nowrap; line-height: 13px; vertical-align: middle; margin-right: 10px; }
.bx-breadcrumb .bx-breadcrumb-item span { font-family: "Open Sans",Arial,"Helvetica Neue",Helvetica,sans-serif; font-size: 13px; white-space: normal; }
