/* Code tidied up by ScrapBook */
.bxr-button-up { width: 48px; height: 48px; position: fixed; border: medium none; box-shadow: none; z-index: 1999; bottom: 0px; display: none; opacity: 0.5; }
.bxr-button-up.right { right: 0px; }
.bxr-button-up:hover { opacity: 1; }
.bxr-button-up > .fa { font-size: 28px; margin-left: -1px; }
