/* Code tidied up by ScrapBook */
.bxr-input-group-btn-menu { position: absolute; right: 14px; top: 4px; }
.bxr-input-group-btn-menu > button { padding: 9px 10px 10px; border: medium none; }
.bxr-input-group-btn-menu > button:hover { color: rgb(255, 255, 255); }
