/* Code tidied up by ScrapBook */
* { outline: medium none; }
body { font-family: "Open Sans"; min-height: 800px; }
h1 { font-size: 22px; margin: -3px 0px 16px; font-weight: bold; }
.bx-breadcrumb { margin: 16px 10px 4px; }
.bx-breadcrumb .bx-breadcrumb-item { margin-bottom: 0px; }
a { cursor: pointer; }
.bxr-full-width { width: 100%; }
.row.headline { background-color: rgb(255, 255, 255); }
.bxr-container-headline { padding: 25px 0px; font-weight: 300; }
.bxr-top-headline { background: rgb(246, 246, 247) none repeat scroll 0% 0%; min-height: 38px; }
a.bxr-a-headline { display: inline-block; padding: 0px; margin: 8px 18px 4px 0px; list-style: outside none none; font-size: 13px; text-decoration: none; color: rgb(65, 65, 65); }
a.bxr-a-headline i { color: rgb(153, 153, 153); margin-right: 5px; }
a.bxr-a-headline:hover { text-decoration: underline; }
.bxr-top-line-phones { font-size: 20px; }
.bxr-logo { position: relative; }
.bxr-logo img { max-width: 100%; height: auto; }
.slogan-wrap { line-height: 18px; }
.bxr-recall-link { text-decoration: underline; font-size: 14px; line-height: 14px; background: transparent none repeat scroll 0% 0% ! important; padding: 5px 0px; }
.bxr-recall-link:hover { text-decoration: none; }
footer { background: rgb(246, 246, 247) none repeat scroll 0% 0%; }
.footer-line { height: 3px; width: 100%; background: rgb(195, 195, 195) none repeat scroll 0% 0%; }
.footer-head { padding: 20px 15px 6px; font-size: 14px; font-weight: 700; color: rgb(99, 100, 102); line-height: 25px; }
.footer-head div { color: rgb(65, 65, 65); }
.footerline { margin-bottom: 20px; }
.mobile-footer-menu-tumbl .fa-chevron-down { right: 0px; position: absolute; }
.footer-socnet-col { height: 25px; }
.footer-socnet-wrap { display: inline-block; }
.footer-socnet { width: 25px; height: 25px; float: left; display: block; margin-right: 6px; }
.vk { background: transparent url("vk.png") no-repeat scroll center center; }
.twitter { background: transparent url("twitter.png") no-repeat scroll center center; }
.facebook { background: transparent url("facebook.png") no-repeat scroll center center; }
.gplus { background: transparent url("gplus.png") no-repeat scroll center center; }
.footer-about-company { font-size: 13px; line-height: 1.7; }
.mobile-footer-menu-tumbl { padding: 10px 0px; cursor: pointer; font-weight: bold ! important; }
.mobile-footer-menu-tumbl::before { font-size: 16px; position: absolute; right: 15px; }
.toggled-item { display: block; }
.row.footerline .toggled-item a { font-weight: normal; }
.row.footerline a { color: rgb(65, 65, 65); font-weight: bold; font-size: 13px; line-height: 1.7; }
.bx_login_block { margin-top: 6px; }
input[type="text"], input[type="password"] { width: 100%; box-sizing: border-box; padding: 11px; outline: medium none; border: 1px solid rgb(231, 231, 231); border-radius: 3px; box-shadow: 2px 2px 2px -1px rgba(180, 188, 191, 0.23) inset; vertical-align: middle; font-size: 90%; }
.data-table input[type="submit"], .bx-auth input[type="submit"] { border: 0px none; outline: medium none; border-radius: 4px; box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3); font-size: 16px; padding: 6px 25px 10px; margin: 10px; text-decoration: none; }
.bxr-basket-row { min-height: 30px; padding: 3px 0px; font-weight: 300; }
#bxr-basket-row input[type="button"], #bxr-basket-row button { -moz-appearance: none; background: rgb(246, 246, 246) none repeat scroll 0% 0%; border: medium none; border-collapse: collapse; }
#bxr-basket-row input[type="button"]:hover, #bxr-basket-row button:hover { background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
.basket-body-container .basket-body-title { margin: 0px 20px 20px; }
.basket-body-container .basket-body-title-h { font-size: 20px; font-weight: bold; display: inline-block; padding-top: 0px; color: rgb(65, 65, 65); float: left; }
#bxr-basket-mobile-container .basket-body-title, #bxr-delay-mobile-container .basket-body-title { background: rgb(240, 240, 240) none repeat scroll 0% 0%; display: inline-block; padding: 5px 10px; width: 100%; font-size: 14px; }
@media (max-width: 991px) {
  a.bx_login_top_inline_link { font-size: 14px; }
  #login-line { line-height: 1 ! important; font-size: 10px; }
  .bxr-top-headline { background: transparent none repeat scroll 0% 0%; padding-top: 10px; }
  .bxr-mobile-login-area { display: none; }
}
@media (max-width: 991px) {
  footer { text-align: center; }
  .toggled-item { display: none; }
  .toggled-item li { line-height: 24px; }
  .footer-about-company { margin: 20px 0px; }
}
@media (min-width: 992px) {
  .toggled-item { display: block ! important; }
}
@media (max-width: 992px) {
}
