/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), url("opensans-regular.woff") format("woff"), url("opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), url("opensans-regular.woff") format("woff"), url("opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans"), url("opensans-regular.woff") format("woff"), url("opensans-regular.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Light";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Light"), url("opensans-light.woff") format("woff"), url("opensans-light.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Semibold"), url("opensans-semibold.woff") format("woff"), url("opensans-semibold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Open Sans Bold"), url("opensans-bold.woff") format("woff"), url("opensans-bold.ttf") format("truetype");
}
